.footer
  .footer__contents1
    %ul.footer__contents1__rule
      %ul.footer__contents1__rule__num1
        = link_to "#" do
          プライバシーポリシー
      %ul.footer__contents1__rule__num2
        = link_to "#" do
          FURIMA利用規約
      %ul.footer__contents1__rule__num3
        = link_to "#" do
          特定商取引に関する表記
  .footer__contents2
    = link_to "#", id:"logo" do
      = image_tag "logo/logo-white.png", class: 'footer__contents2__footerlogo'
  %p.footer__contents3
    ©︎FURIMA