.body
  -# ヘッダー部分テンプレート使用します。仮置きです。
  .header
    %a{ herf: '#', id: 'logo' }
      = image_tag "logo/logo.png", class: 'header-logo'


  .main
    .main__form
      = form_with model: @user do |form|

        .main__form__contents1
          %p.main__form__contents1__message
            アカウントをお持ちでない方はこちら
          .main__form__contents1__btn
            = link_to "/users/new" do
              新規会員登録

        .main__form__contents2
          .main__form__contents2__btn1
            Googleでログイン
          .main__form__contents2__btn2
            Facebookでログイン
          .main__form__contents2__btn3
            Appleでログイン
        .main__form__contents3
          .main__form__contents3__box
            %p.main__form__contents3__box__mail-title
              メールアドレス
            = form.text_field :mail, class: 'main__form__contents3__box__mail-form'

            %p.main__form__contents3__box__password-title
              パスワード
            = form.text_field :password, class: 'main__form__contents3__box__password-form'
            
            .main__form__contents3__box__btn
              ログイン
      


  .footer
  -# ここにはfooterを部分テンプレートで使用します

