= render "users/header"

.purchase
  .purchase__contents
  
    .notifications
      - flash.each do |key, value|
        = content_tag(:div, value, class: key)

    .purchase__contents__name
      購入内容の確認
    .purchase__contents__product
      .purchase__contents__product__image

      .purchase__contents__product__detail
        .purchase__contents__product__detail__name
          = @item.brand
          %br
          = @item.name
          %br
          = @item.condition_id
        .purchase__contents__product__detail__price
          %span.purchase__contents__product__detail__price--send  送料込み(税込)
          %p.purchase__contents__product__detail__price--tax
            ¥
            = @total_price.to_s(:delimited)
        
    .purchase__contents__price
      .purchase__contents__price__sum
        %span.purchase__contents__price__sum__name
          支払い金額
        %span.purchase__contents__price__sum__detail
          ¥
          = @total_price.to_s(:delimited)
    .purchase__contents__way
      - if @cards
        .purchase__contents__way__pay
          %span.purchase__contents__way__pay__name 支払い方法
          = link_to item_purchase_path(id: 1, destination_id: params[:destination_id]) do
            .purchase__contents__way__pay__change
              変更する>

        .purchase__contents__way__detail
          %p.purchase__contents__way__detail__credit クレジットカード
          %p.purchase__contents__way__detail__credit
            ************
            = @cards.last4
          %p.purchase__contents__way__detail__credit
            有効期限
            = @cards.exp_month
            \/
            = @cards.exp_year
          %p.credit-campany
            = @cards.brand
          
      - else
        .purchase__contents__way__detail
        = link_to cards_path do
          クレジットカードを登録してください>


    .purchase__contents__delivery
      %ul.purchase__contents__delivery__name
        %span.purchase__contents__delivery__name__send 配送先
        = link_to item_purchase_path(id: 2, card_id: params[:card_id]) do
          .purchase__contents__delivery__name__change
            変更する>
      
      %li.purchase__contents__delivery__detail
        〒
        = @destination.postal_code[0, 3]
        \-
        = @destination.postal_code[3, 8]
      %li.purchase__contents__delivery__detail
        = @destination.prefecture_id
        = @destination.city
        = @destination.address
        = @destination.after_address
      %li.purchase__contents__delivery__detail
        =  @destination.family_name
        =  @destination.first_name
    = form_with url: purchase_item_purchases_path, method: "get", local: true do |form|
      - if @cards
        = form.hidden_field :card_id, value: @cards.id
        = form.hidden_field :destination_id, value: @destination.id
        = form.submit "購入する", class: 'buy__btn';

= render "users/footer"