.body
  
  = render "users/header"

  .main
    .main__form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |form|

        .main__form__contents1
          %p.main__form__contents1__message
            アカウントをお持ちでない方はこちら
          .main__form__contents1__btn
            = link_to "/users/sign_up" do
              新規会員登録

        .main__form__contents2
          .main__form__contents2__btn1
            Googleでログイン
          .main__form__contents2__btn2
            Facebookでログイン
          .main__form__contents2__btn3
            Appleでログイン
        .main__form__contents3
          %p.main__form__contents3__mail-title
            メールアドレス
          = form.text_field :email, class: 'main__form__contents3__mail-form'

          %p.main__form__contents3__password-title
            パスワード
          = form.text_field :password, class: 'main__form__contents3__password-form'
          
          
          = form.submit "ログイン", class: 'main__form__contents3__btn'
             


  = render "users/footer"



















-# <h2>Log in</h2>

-# <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
-#   <div class="field">
-#     <%= f.label :email %><br />
-#     <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
-#   </div>

-#   <div class="field">
-#     <%= f.label :password %><br />
-#     <%= f.password_field :password, autocomplete: "current-password" %>
-#   </div>

-#   <% if devise_mapping.rememberable? %>
-#     <div class="field">
-#       <%= f.check_box :remember_me %>
-#       <%= f.label :remember_me %>
-#     </div>
-#   <% end %>

-#   <div class="actions">
-#     <%= f.submit "Log in" %>
-#   </div>
-# <% end %>

-# <%= render "devise/shared/links" %>
