= render "header"

.item-details
  .item-details__flame
    .contents1
      .item-name
        %h1 
        = @item.name
      .main
        .main__image
          .main__image__principal
            = image_tag @item.images[0].images.to_s, class: "image"
          .main__image__sub
            %ul.image__list
              - @item.images.each.with_index(1) do |image, i|
                - if i <= 4
                  %li.image__list__one
                    = image_tag image.images.to_s, class: "image"
          .main__image__sub
            %ul.image__list
              - @item.images.each.with_index(1) do |image, i|
                - if i >= 5 && i <= 8 
                  %li.image__list__one
                    = image_tag image.images.to_s, class: "image"
              -# 画像最大８枚以上の場合、「.main__image__sub」以下を後述する。
      .price
        .price-content
          .price-content__yen
            ¥
          .price-content__num
            = @item.price
        .price-incidental
          .price-incidental__tax
            （税込）
          .price-incidental__postage
            配送料
            = @item.delivery_fee

      .item-block
        .item-block__name
          = @item.name
      .details
        %table.details__table
          %tr.details__table__line
            %td.title 出品者
            %td.name 
              = @item.user.nickname
          %tr.details__table__line
            %td.title カテゴリー
            %td.name 
              = link_to "#" do
                -# ここにカテゴリーへのパスを指定する 
                = @item.category_id
              %br/
              -# = @category.ancestry.each do |ancestry|
              = link_to "#" do
                カテゴリーancestry(仮入力)
              %br/
              = link_to "#" do
                カテゴリーancestry(仮入力)
          %tr.details__table__line
            %td.title ブランド
            %td.name 
              = @item.brand
          %tr.details__table__line
            %td.title 状態
            %td.name
              = @item.condition
          %tr.details__table__line
            %td.title サイズ
            %td.name
              = @item.size
          %tr.details__table__line
            %td.title 配送料負担
            %td.name
              = @item.delivery_fee
          %tr.details__table__line
            %td.title 発送方法
            %td.name 
              = @item.delivery_method
          %tr.details__table__line
            %td.title 発送までの日数
            %td.name
              = @item.day
          %tr.details__table__line
            %td.title 発送元地域
            %td.name 
              = link_to "#" do
                = @item.prefecture

      .like
        = link_to "#" , class: "like__click" do
          .like__click__icon
            = icon('fas', 'star', class: 'icons')
          .like__click__letter
            お気に入り
        = link_to "#", class: "like__arart" do
          .like__arart__icon
            = icon('fas', 'flag', class: 'icons')
          .like__arart__letter
            不適切な商品の通報
      
      -# ここには、user,deviceがマーにされた後、コメントアウトを外す
      -# - if user_signed_in? && current_user.id == @item.user
    .contents2
      = link_to purchase_items_path(@item) , class: "item-purchase" do
        編集画面に進む
    .contents2
      = link_to @item ,method: :delete, class: "item-purchase" do
        この出品商品を削除する
      -# - elsif user_signed_in?
    .contents2
      = link_to purchase_items_path(@item) , class: "item-purchase" do
        購入画面に進む
      -# - else
    .contents2
      = link_to purchase_items_path(@item) , class: "item-purchase" do
        購入画面に進む前に、ログインページへ
    

    .contents3
      -# = form_with(model: [@item, @comment], local: true) do |f|
      = form_with(model: @item, local: true) do |f|
        .new-comment
          = f.text_area :text, class: "new-comment__field"
          .caution
            %p
            相手のことを考え丁寧なコメントを心がけましょう。
            %br/
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          .comment
            = link_to "#" do
              %button{type: "submit", class:'btn'} 
                .comment__btn
                  = icon('fas', 'comment', class: 'icons')
                  %p コメントする
    .contents4
      - if @item.previous.present?
        = link_to item_path(@item.previous.id) do
          .previous
            .previous__icon
              = icon('fas', 'angle-left', class: 'icons')
            .previous__content
              前の商品
      - else
        .none
      - if @item.next.present?
        = link_to item_path(@item.next.id) do
          .next
            .next__content
              次の商品 
            .next__icon
              = icon('fas', 'angle-right', class: 'icons')
      - else 
        .none 
    .contents5
      .category-more
        = link_to "#" do
          「カテゴリー名」をもっと見る
      .category-items
        - @category.items.each.with_index(1) do |item, i|
          - if i <= 3
            .category-item
              = link_to "#" do
                .category-item__first
                  .item-image
                    = image_tag item.images[0].images.to_s, class: "image"
                  .item-content
                    .item-content__name
                      = item.name
                    .item-content__mix
                      .item-content__mix__price
                        .item-content__mix__price__yen
                          ¥
                        .item-content__mix__price__num
                          = item.price
                      .item-content__mix__like
                        = icon('fas', 'star', class: 'icons')
                    .item-content__tax
                      （税込）

.exhibit
  %p.exhibit--text 出品する
  = image_tag "icon/icon_camera.png",class: 'exhibit--image', width: "55px";

= render "footer"

