= render "header"

.item-details
  .item-details__flame
    .contents1
      - if @item.buyer_id.present?
        .item-sold
          売り切れました
      .item-name
        %h1 
        = @item.name
      .main
        .main__image
          .main__image__principal
            = image_tag @item.images[0].images.to_s, class: "image"
          .main__image__sub
            %ul.image__list
              - @item.images.each.with_index(1) do |image, i|
                - if i <= 4
                  %li.image__list__one
                    = image_tag image.images.to_s, class: "image"
          .main__image__sub
            %ul.image__list
              - @item.images.each.with_index(1) do |image, i|
                - if i >= 5 && i <= 8 
                  %li.image__list__one
                    = image_tag image.images.to_s, class: "image"
              -# 画像最大８枚以上の場合、「.main__image__sub」以下を後述する。
      .price
        .price-content
          .price-content__yen
            ¥
          .price-content__num
            = @item.price
        .price-incidental
          .price-incidental__tax
            （税込）
          .price-incidental__postage
            配送料
            = @delivery_fees.name

      .item-block
        .item-block__name
          = @item.name
      .details
        %table.details__table
          %tr.details__table__line
            %td.title 出品者
            %td.name 
              = @item.user.nickname
          %tr.details__table__line
            %td.title カテゴリー
            %td.name 
              - @category_parent.each do |parent|
                -if @item.category_id == parent.id
                  = link_to "#" do
                    = parent.name
                - parent.children.each do |child|
                  -if @item.category_id == child.id
                    = link_to "#" do
                      = parent.name
                      %br/
                    = link_to "#" do
                      = child.name
                  - child.children.each do |grandchild|
                    -if @item.category_id == grandchild.id
                      = link_to "#" do
                        = parent.name
                        %br/
                      = link_to "#" do
                        = child.name
                        %br/
                      = link_to "#" do
                        = grandchild.name

                
          %tr.details__table__line
            %td.title ブランド
            %td.name 
              = @item.brand
          %tr.details__table__line
            %td.title 状態
            %td.name
              = @conditions.name
          %tr.details__table__line
            %td.title サイズ
            %td.name
              = @item.size
          %tr.details__table__line
            %td.title 配送料負担
            %td.name
              = @delivery_fees.name
          %tr.details__table__line
            %td.title 発送方法
            %td.name 
              = @delivery_methods.name
          %tr.details__table__line
            %td.title 発送までの日数
            %td.name
              = @days.name
          %tr.details__table__line
            %td.title 発送元地域
            %td.name 
              -# リンク先未設定の為、”#”を仮記載
              = link_to "#" do
                = @prefectures.name

      .like
        - if @like
          = link_to item_path, class: "like__click--none", remote: true do
            .like__click--none__icon
              = icon('fas', 'star', class: 'icons')
            .like__click--none__letter
              お気に入り済み

        - else
          = link_to item_path, class: "like__click", remote: true do
            .like__click__icon
              = icon('fas', 'star', class: 'icons')
            .like__click__letter
              お気に入り

        = link_to "#", class: "like__arart" do
          .like__arart__icon
            = icon('fas', 'flag', class: 'icons')
          .like__arart__letter
            不適切な商品の通報

    -# 売り切れかどうか？出品者か？などを条件分岐
    -if @item.buyer_id == nil
      - if user_signed_in? && current_user.id == @item.user.id
        .contents2
          = link_to edit_item_path(@item) , class: "item-purchase" do
            編集画面に進む
        .contents2
          = link_to item_path(@item), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "item-purchase" do
            この出品商品を削除する
      - elsif user_signed_in?
        .contents2
          = link_to item_purchases_path(@item, destination_id: @destination.id) , class: "item-purchase" do
            購入画面に進む
      - else
        .contents2
          = link_to new_user_session_path, class: "item-purchase" do
            購入画面に進む前に、ログインページへ
    
    -else
      - if user_signed_in? && current_user.id == @item.user.id
        .contents2
          = link_to item_path(@item) ,method: :delete, data: {confirm: "本当に削除しますか？"}, class: "item-purchase" do
            この出品商品を削除する
      - else 
        .contents2-sold
          .item-purchase
            この商品は既に購入されています
            
    .contents3
      -# コメント機能未実装の為、コメントアウト
      -# = form_with(model: [@item, @comment], local: true) do |f|
      = form_with(comment: @item, local: true) do |f|
        .new-comment
          = f.text_area :text, class: "new-comment__field"
          .caution
            %p
            相手のことを考え丁寧なコメントを心がけましょう。
            %br/
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          .comment
            = link_to "#" do
              %button{type: "submit", class:'btn'} 
                .comment__btn
                  = icon('fas', 'comment', class: 'icons')
                  %p コメントする
    .contents4
      - if @item.previous.present?
        = link_to item_path(@item.previous.id) do
          .previous
            .previous__icon
              = icon('fas', 'angle-left', class: 'icons')
            .previous__content
              前の商品
      - else
        .none
      - if @item.next.present?
        = link_to item_path(@item.next.id) do
          .next
            .next__content
              次の商品 
            .next__icon
              = icon('fas', 'angle-right', class: 'icons')
      - else 
        .none 
    .contents5
      .category-more
        -# カテゴリー機能が未実装の為、リンク先は”＃”で仮記載
        = link_to "#" do
          「カテゴリー名」をもっと見る
      .category-items
        - @category.items.each.with_index(1) do |item, i|
          - if item.id != @item.id && i <= 4
            .category-item
              = link_to item_path(item) do
                .category-item__first
                  .item-image
                    = image_tag item.images[0].images.to_s, class: "image"
                  .item-content
                    .item-content__name
                      = item.name
                    .item-content__mix
                      .item-content__mix__price
                        .item-content__mix__price__yen
                          ¥
                        .item-content__mix__price__num
                          = item.price
                      .item-content__mix__like
                        = icon('fas', 'star', class: 'icons')
                    .item-content__tax
                      （税込）

.exhibit
  %p.exhibit--text 出品する
  = image_tag "icon/icon_camera.png",class: 'exhibit--image', width: "55px";

= render "footer"
