= render "items/header"

.wrapper
  = render "users/left-content"
  .card

    .notifications
      - flash.each do |key, value|
        = content_tag(:div, value, class: key)

    .card-content1
      .card-content1__head
        クレジットカード情報入力
      .card-content1__form
        = form_with model: @card do |f|
          .card-content1__number
            %label.card-content1__content--font
              カード番号
            %span.card-content1__content--required
              必須
            .card-content1__number--form
              = f.text_field :unmber, class: "number"
            .card-content1__number--card-icon
              = image_tag 'icon/card.png', size: '280x26';
          .card-content1__limit
            %label.card-content1__content--font
              有効期限
            %span.card-content1__content--required
              必須
            .card-content1__limit--form
              .card-content1__limit--form--month
                = f.select :limit_month, ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
                %span
                  月
              .card-content1__limit--form--year
                = f.select :limit_year, ["2020", "2021", "2022", "2023", "2024", "2025", "2026", "2027", "2028", "2029", "2030"]
                %span
                  年
          .card-content1__security-code
            %label.card-content1__content--font
              セキュリティコード
            %span.card-content1__content--required
              必須
            .card-content1__security-code--form
              = f.text_field :security_code, class: 'security_code'
            .card-content1__security-code--info
              %span.card-content1__security-code--info--question
                ？
              カード裏面の番号とは？
          .card-content1__submit
            .card-content1__submit--form
              = f.submit "追加する", class: 'submit__btn'
    .card-content2
      .card_list
        .card_list__head
          カード一覧
          = @user.id

        - if @cards
          - @cards.each do |card|
            .card_list__content
              .card_list__content--cover
                = link_to delete_user_cards_path(card_id: card.id) do
                  %span.card_list__content__btn
                    削除する
                .card_list__content__number
                  ************
                  = card.last4
                .card_list__content__limit
                  = card.exp_month
                  \/
                  = card.exp_year
                .card_list__content__brand
                  = card.brand
        - else
          .card_list__content
            カードの登録がありません

= render "items/footer"